<div
  id="services"
  class="scrollto clearfix"
  *ngIf="services$ | async as services"
>
  <div class="row no-padding-bottom clearfix">
    <!--Content of the Right Side-->
    <div class="col-2 column1">
      <div class="section-heading">
        <h3>{{ services.tagline }}</h3>
        <h2 class="section-title">{{ services.title }}</h2>
        <p class="section-subtitle">{{ services.description }}</p>
      </div>
      <h3 class="section-title">
        We offer a variety of serivces to our customers
      </h3>
        <ul>
          <li>Smaller nitty-gritty data processing optomization and visualization</li>
          <li>DAD INSERT BETTER WAYS OF DESCRIBING SOME OF YOUR STUFF PLEASE</li>
          <li>Cloud Migrations</li> 
        </ul>
        <a href="/contact" class="button">Contact For a Free Consulation</a>
      <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
    </div>
    <!--End Content Right Side-->

    <div class="col-2 column2">
      <img src="assets/images/dancer.jpg" alt="Dancer" />
    </div>
  </div>
</div>
